<!DOCTYPE=HTML>
<html>
	<head>
		<meta charset="utf8"/>
		<title>起きろ，やまま！！</title>
		<link rel="stylesheet" href="stylesheets/buttons.css" />
		<link rel="stylesheet" href="stylesheets/main.css" />
	</head>
	<body>
		<div id="message" class="arrow arrow_box" >
			WAKE UP!
		</div>
		<img id="bird" src="images/twitter.png" class="step1"/>
		<div class="frame">
			<div class="inner">
				<img src="images/yamama.png"/>
			</div>
		</div>
		<button id="awake-btn" data-icon="⌚" class="button blue brackets">起きろ！</button>
		<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
	</body>
</html>